*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #383838;
}

main.container {
  background-color: #fff;
  min-width: 200px;
  max-width: 400px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

.container h1 {
  font-size: 3rem;
  margin: 0 0 2rem 0;
  text-align: center;
}
